@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header";
@import "../common/footer";
@import "../common/body";


.main{
  .wrapper{
    .main-content-wrapper{
      .pay-list-group{

        background: #ffffff;
        //margin-top: 20px;
        .pay-list{
           margin-top: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            cursor: pointer;
            width: 360px;
            height: 150px;
            position: relative;
            overflow: hidden;
            border: 1px solid #cccccc;
            margin: 15px 16px;

             background: url("https://www.bufanbiz.com/static/build/images/web-bp-pc.png") no-repeat;
            background-size: 100px 150px;
            .pay-left{

              float: left;
              box-sizing: border-box;
              width: 30%;


            }
            .pay-right{
              width: 70%;
              float: right;
              .pay-title{
                font-size: 18px;
                color: #212121;
              }
              .pay-content{
                margin-top: 12px;
                font-size: 13px;
                color: $assistColor;

              }
              .pay-price{
                position: absolute;
                right: 5px;
                bottom: 10px;
                color: #e63929;
                font-size: 20px;
              }
            }
            &:hover{
              box-shadow: 0 3px 10px rgba(0,0,0,1);
            }
          }
        }
      }
    }
  }
}