
{% extends 'base/base_front.html' %}

{% load staticfiles %}

{% block title %}
课程详情
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="course-wrapper">
            <div class="course-info">
                <p class="course-title">{{ course.title }}</p>
                <div class="price-group">
                    <div class="share-group">
                        <span class="title">分享至:</span>
                    </div>
                    <div class="buy-group">
                        {% if course.price > 0 %}
                            <span class="price pay">￥{{ course.price }}</span>
                            <a href="#" class="buy-btn">立即购买</a>
                        {% else %}
                            <span class="price free">免费</span>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="video-group"></div>
        </div>

        <div class="bottom-wrapper">
            <div class="course-detail-wrapper">
                <div class="item-group">
                    <p class="item-title">课程讲师</p>
                    <div class="teacher-group">
                    <div class="avater-group">
                        <img src="{{ course.teacher.avatar }}" alt="" class="avater">
                    </div>

                    <div class="teacher-info">
                        <p class="teacher-name">{{ course.teacher.username }}</p>
                        <p class="teacher desc">{{ course.teacher.jobtitle }}</p>
                    </div>
                        </div>

                    <p class="item-content">{{ course.teacher.profile }}

                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程简介</p>

                    <p class="item-content">
                        截止目前，安徽中商便利已开设罗森便利店门店数达66家。
                        其中，于安徽省开了10家店，全部直营。南京则开了56家店，
                        21家直营，35家加盟。 中央商场执行总裁刘梦婕表示，
                        本轮融资完成后，
                        团队会围绕开店规模、门店的健康运营、
                        鲜食工厂的建设以及互联网+的思路进一步加速拓展，
                        以“规模+创新”为驱动力推动安徽以及南京区域内便利店市场的快速发展。

                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程大纲</p>

                    <p class="item-content">
                        截止目前，安徽中商便利已开设罗森便利店门店数达66家。
                        其中，于安徽省开了10家店，全部直营。南京则开了56家店，
                        21家直营，35家加盟。 中央商场执行总裁刘梦婕表示，
                        本轮融资完成后，
                        团队会围绕开店规模、门店的健康运营、
                        鲜食工厂的建设以及互联网+的思路进一步加速拓展，
                        以“规模+创新”为驱动力推动安徽以及南京区域内便利店市场的快速发展。

                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">适宜人群</p>

                    <p class="item-content">
                        截止目前，安徽中商便利已开设罗森便利店门店数达66家。
                        其中，于安徽省开了10家店，全部直营。南京则开了56家店，
                        21家直营，35家加盟。 中央商场执行总裁刘梦婕表示，
                        本轮融资完成后，
                        团队会围绕开店规模、门店的健康运营、
                        鲜食工厂的建设以及互联网+的思路进一步加速拓展，
                        以“规模+创新”为驱动力推动安徽以及南京区域内便利店市场的快速发展。

                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">帮助中心</p>

                    <p class="item-content">
                        截止目前，安徽中商便利已开设罗森便利店门店数达66家。
                        其中，于安徽省开了10家店，全部直营。南京则开了56家店，
                        21家直营，35家加盟。 中央商场执行总裁刘梦婕表示，
                        本轮融资完成后，
                        团队会围绕开店规模、门店的健康运营、
                        鲜食工厂的建设以及互联网+的思路进一步加速拓展，
                        以“规模+创新”为驱动力推动安徽以及南京区域内便利店市场的快速发展。

                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">关于</p>

                    <p class="item-content">
                        小张开发

                    </p>
                </div>
            </div>
            <div class="recomand-wrapper">

                <p class="recomand-title">推荐课程</p>
                <ul class="course-list">
                    <li>
                    <a href="#">
                            <div class="course-info-group">
                                <p class="course-title">腾讯投资的“变与不变”</p>
                                <p class="teacher">小张ceo</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1540773068_76.jpg-website.news.list" alt="" class="thumbnail">

                            </div>
                    </a>
                    </li>
                </ul>
                <ul class="course-list">
                    <li>
                    <a href="#">
                            <div class="course-info-group">
                                <p class="course-title">腾讯投资的“变与不变”</p>
                                <p class="teacher">小张ceo</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1540773068_76.jpg-website.news.list" alt="" class="thumbnail">

                            </div>
                    </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}