
{% extends 'base/base_front.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}

{% block title %}
课程列表
{% endblock %}

{% block main %}
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <ul class="course-list">
            <li>
                <a href="#">
                <div class="thumbnail-group">
                    <img src="https://static-image.xfz.cn/1541294726_320.jpg-website.news.list" alt="" class="thumbnail">
                </div>
                <div class="course-info">
                    <p class="title">iG夺得LPL赛区首个全球总决赛冠军</p>
                    <p class="author">小张</p>
                    <p class="price-group">
                        <span class="free">免费</span>
                    </p>
                </div>
                    </a>
            </li>
            <li>
                <a href="#">
                <div class="thumbnail-group">
                    <img src="https://static-image.xfz.cn/1541294726_320.jpg-website.news.list" alt="" class="thumbnail">
                </div>
                <div class="course-info">
                    <p class="title">iG夺得LPL赛区首个全球总决赛冠军</p>
                    <p class="author">小张</p>
                    <p class="price-group">
                        <span class="free">免费</span>
                    </p>
                </div>
                    </a>
            </li>
            <li>
                <a href="#">
                <div class="thumbnail-group">
                    <img src="https://static-image.xfz.cn/1541294726_320.jpg-website.news.list" alt="" class="thumbnail">
                </div>
                <div class="course-info">
                    <p class="title">iG夺得LPL赛区首个全球总决赛冠军</p>
                    <p class="author">小张</p>
                    <p class="price-group">
                        <span class="free">免费</span>
                    </p>
                </div>
                    </a>
            </li>
            <li>
                <a href="#">
                <div class="thumbnail-group">
                    <img src="https://static-image.xfz.cn/1541294726_320.jpg-website.news.list" alt="" class="thumbnail">
                </div>
                <div class="course-info">
                    <p class="title">iG夺得LPL赛区首个全球总决赛冠军</p>
                    <p class="author">小张</p>
                    <p class="price-group">
                        <span class="free">免费</span>
                    </p>
                </div>
                    </a>
            </li>
            <li>
                <a href="#">
                <div class="thumbnail-group">
                    <img src="https://static-image.xfz.cn/1541294726_320.jpg-website.news.list" alt="" class="thumbnail">
                </div>
                <div class="course-info">
                    <p class="title">iG夺得LPL赛区首个全球总决赛冠军</p>
                    <p class="author">小张</p>
                    <p class="price-group">
                        <span class="free">免费</span>
                    </p>
                </div>
                    </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}