{% extends 'cms/base.html' %}


{% block head %}
    <style>
    .left-group{
        margin-right: 5px;
    }
    </style>
        <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
{% endblock %}

{% block title %}
新闻管理
{% endblock %}

{% block content-header %}
<h1>新闻列表管理</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <form action="" class="form-inline">
                        <div class="form-group left-group">
                            <label>时间：</label>
                            <input type="text" class="form-control" name="start" id="start-picker" placeholder="起始时间" readonly>
                            <span>-</span>
                            <input type="text" class="form-control" name="end" id="end-picker" placeholder="结束时间" readonly>
                            <label>标题：</label>
                            <input type="text" class="form-control" name="title" placeholder="关键字">
                        </div>
                        <div class="form-group left-group">
                            <label for="category-input">分类：</label>
                            <select name="category" id="" class="form-control">
                                <option value="0">所有分类</option>
                                {% for category in categories %}
                                    <option value="{{ category.pk }}">{{ category.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary left-group">查询</button>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'cms:news_list' %}">清除查询</a>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>分类</th>
                                <th>发布时间</th>
                                <th>作者</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for news in newses %}
                                <tr>
                                <th><a href="{% url 'news:news_detail' news.id %}">{{ news.title }}</a></th>
                                <th>{{ news.category.name }}</th>
                                <th>{{ news.pub_time }}</th>
                                <th>{{ news.auth.username }}</th>
                                <th>
                                    <a href="#" class="btn btn-info btn-xs">编辑</a>
                                    <button class="btn btn-danger btn-xs">删除</button>
                                </th>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                                <p class="pull-left">第{{ current_page }}/总共{{ num_pages }}页</p>
            <ul class="pagination pull-right">
                {#上一页#}
                {% if page_obj.has_previous %}
                    <li><a href="?p={{ page_obj.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
                {% endif %}

                {# 是否需要出现三个点 #}
                {% if left_has_more %}
                    <li><a href="?p=1">1</a></li>
                    <li><a href="javascript:void(0);">...</a></li>
                {% endif %}

                {# 左边的页码 #}
                {% for left_page in left_pages %}
                    <li><a href="?p=">{{ left_page }}</a></li>
                {% endfor %}

                {# 当前的页面 #}
                <li class="active"><a href="?p={{ current_page }}">{{ current_page }}</a></li>

                {# 右边的页码 #}
                {% for right_page in right_pages %}
                    <li><a href="?p={{ right_page }}">{{ right_page }}</a></li>
                {% endfor %}

                {# 用来控制右边三个点 #}
                {% if right_has_more %}
                    <li><a href="javascript:void(0);">...</a></li>
                    <li><a href="?p={{ num_pages }}">{{ num_pages }}</a></li>
                {% endif %}

                {#下一页#}
                {% if page_obj.has_next %}
                    <li><a href="?p={{ page_obj.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">下一页</a></li>
                {% endif %}
            </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}