
{% extends 'base/base_front.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
    <script src="../../dist/js/index.min.js"></script>
{% endblock %}

{% block title %}
搜索
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
              <div class="search-group">
                <form action="" method="get">
                <input type="text" name="q" placeholder="可输入新闻关键词/作者名字搜索">
                <div class="button">搜索</div>
                </form>
            </div>
            <div class="list-outer-group">
                {% if newses %}
                    <h2>搜索结果</h2>
                {% else %}
                    <h2>热门推荐</h2>
                {% endif %}
                {% for result in page.object_list %}
                    {% with result as news  %}
                    <ul class="list-inner-group">
                    <li>
                         <div class="img">
                <a href="{% url 'news:news_detail' news.pk %}">
                    <img class="pic" src="{{ news.thumbnail }}" alt="">
                </a>
                </div>
                <div class="news-group">
                    <a href="{% url 'news:news_detail' news.pk %}"><p class="title">{{ news.title }}</p></a>

                <p class="desc">{{ news.desc }}</p>
                <p class="more">
                    <span class="category">{{ news.category.name }}</span>
                    <span class="pub-time">{{ news.pub_time }}</span>
                    <span class="author">{{ news.auth.username }}</span>
                </p>
                </div>
                    </li>
                </ul>
                    {% endwith %}
                {% endfor %}

                <div class="load-more-group">
                    <button class="load-more">加载更多</button>
                </div>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}