{% extends 'base/base_front.html' %}
{% load staticfiles %}
{% load news_filters %}
{% block title %}
首页
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1539770831_872.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1537511352_611.jpeg" alt="">
                        </a>
                    </li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#"></a>最新资讯</li>
                    {% for category in category_list %}
                     <li><a href="#"></a>{{ category.name }}</li>
                    {% endfor %}

                </ul>
                <ul class="list-inner-group">
                    {% for news in news_list %}
                    <li>
                         <div class="img">
                <a href="#">
                    <img class="pic" src="{{ news.thumbnail }}" alt="">
                </a>
                </div>
                <div class="news-group">
                    <a href="#"><p class="title">{{ news.title }}</p></a>

                <p class="desc">{{ news.desc }}</p>
                <p class="more">
                    <span class="category">{{ news.category.name }}</span>
                    <span class="pub-time">{{ news.pub_time|time_since }}</span>
                    <span class="author">{{ news.auth.username }}</span>
                </p>
                </div>
                    </li>
                    {% endfor %}


                </ul>

                <div class="load-more-group">
                    <button class="load-more">加载更多</button>
                </div>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}