<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="/">创业资讯</a>
            </li>
            <li>
                <a href="/">创业课堂</a>
            </li>
            <li>
                <a href="/">付费资讯</a>
            </li>
            <li>
                <a href="/">搜索</a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>