{% extends 'base/base_front.html' %}
{% load staticfiles %}
{% block title %}
首页
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1539770831_872.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1537511352_611.jpeg" alt="">
                        </a>
                    </li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#"></a>最新资讯</li>
                    <li><a href="#"></a>热点</li>
                    <li><a href="#"></a>深度报道</li>
                    <li><a href="#"></a>干货分享</li>
                    <li><a href="#"></a>投资人说</li>
                </ul>
                <ul class="list-inner-group">
                    <li>
                         <div class="img">
                <a href="#">
                    <img class="pic" src="https://static-image.xfz.cn/1540895911_874.jpg-website.news.list" alt="">
                </a>
                </div>
                <div class="news-group">
                    <a href="#"><p class="title">被马云寄予厚望，盒马鲜生要去三四线城市讲新故事</p></a>

                <p class="desc">滚滚下沉大潮前，生鲜也不例外。</p>
                <p class="more">
                    <span class="category">深度报道</span>
                    <span class="pub-time">1小时前</span>
                    <span class="author">小张同学</span>
                </p>
                </div>
                    </li>
                </ul>

                <ul class="list-inner-group">
                    <li>
                         <div class="img">
                <a href="#">
                    <img class="pic" src="https://static-image.xfz.cn/1540889552_704.jpg-website.news.list" alt="">
                </a>
                </div>
                <div class="news-group">
                    <a href="#"><p class="title">“赌徒”金立</p></a>

                <p class="desc">在手机市场，金立也是儒雅的谦谦君子，竞争对手都是天兵天将模样。</p>
                <p class="more">
                    <span class="category">深度报道</span>
                    <span class="pub-time">1小时前</span>
                    <span class="author">小张同学</span>
                </p>
                </div>
                    </li>
                </ul>
                <div class="load-more-group">
                    <button class="load-more">加载更多</button>
                </div>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}