
{% extends 'base/base_front.html' %}
{% load staticfiles %}
{% load news_filters %}
{% block title %}
新闻详情页
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">

            <div class="news-wrapper">
                <h1 class="title"> {{ news_detail.title }}</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="comment-author">{{ news_detail.auth.username }}</span>
                        <span class="comment-pub-time">{{ news_detail.pub_time|time_since }}</span>
                        <span class="category">{{ news_detail.category.name }}</span>
                    </div>
                    <div class="share-group">
                        <span>分享至</span>
                        <a class="weixin"></a>
                        <a href="#" class="weibo"></a>
                    </div>
                </div>

                <article class="article">
                    {{ news_detail.content|safe }}
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <textarea class="comment-textarea" name="comment-textarea" placeholder="立即登陆，参与评论" ></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://tva2.sinaimg.cn/crop.0.0.1080.1080.180/6c44eb25jw8esjnbdi282j20u00u0n07.jpg" alt="" class="avatar">
                            <span class="author">小张</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                     <li>
                        <div class="comment-info">
                            <img src="https://tva2.sinaimg.cn/crop.0.0.1080.1080.180/6c44eb25jw8esjnbdi282j20u00u0n07.jpg" alt="" class="avatar">
                            <span class="author">小张</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}