
{% extends 'base/base_front.html' %}
{% load staticfiles %}
{% block title %}
新闻详情页
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">

            <div class="news-wrapper">
                <h1 class="title"> 早报：iG夺得LPL赛区首个全球总决赛冠军；暴雪正式进军手游市场；曝贾跃亭接待潜在投资人</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="comment-author">张xx</span>
                        <span class="comment-pub-time">5小时前</span>
                        <span class="category">热点</span>
                    </div>
                    <div class="share-group">
                        <span>分享至</span>
                        <a class="weixin"></a>
                        <a href="#" class="weibo"></a>
                    </div>
                </div>

                <article class="article">
                    iG战队3-0战胜FNC战队，夺得LPL赛区首个全球总决赛冠军
11月3日，2018英雄联盟全球总决赛在仁川进行决赛，iG战队3-0战胜FNC战队，捧得S8总决赛冠军奖杯，夺得了LPL赛区的首个全球总决赛冠军。

暴雪正式进军手游市场，将与网易推出“暗黑破坏神：不朽”
11月3日消息，暴雪娱乐宣布正式进军手游市场。据悉，暴雪娱乐将与网易游戏采取联合研发、全球同步发行模式，推出基于“暗黑破坏神”IP的全新移动作品“暗黑破坏神：不朽”。

任正非：华为不会让CFO接班，干部选拔以李云龙为标杆
2018年10月19日，华为创始人任正非在内部四季度工作会议上发表讲话，指出各级主官均要从主战部队中的主战人员中选拔，华为干部选拔要以李云龙、赵刚为标杆。“直至以后的轮值董事长、接班人，均从主战人员中成长。我们不是上市公司，上市公司关心财务报表，因此，有CFO接班的可能，我们公司不会。”

FF总监曝贾跃亭接待潜在投资人，坚信100亿美金估值
一位自称为“Faraday Future 总监”的网友科技人IVAN 在网上发布消息，“昨天才和顶级投行Stifel签约，今天对方就派驻团队进驻，一大早在公司还看到数组国际潜在投资人、PE及国际一线供应商莅临FaradayFuture全球总部，体验产品后对我们创始人、愿景、管理团队、产品技术和专利表示高度肯定。
                    17年这个时候我们的估值已达近50亿美金，此刻我们离量产仅临门一脚，估值肯定翻倍！我们必须寻找认可我们愿景和价值的优质投资人一起实现梦想。”
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <textarea class="comment-textarea" name="comment-textarea" placeholder="立即登陆，参与评论" ></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://tva2.sinaimg.cn/crop.0.0.1080.1080.180/6c44eb25jw8esjnbdi282j20u00u0n07.jpg" alt="" class="avatar">
                            <span class="author">小张</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                     <li>
                        <div class="comment-info">
                            <img src="https://tva2.sinaimg.cn/crop.0.0.1080.1080.180/6c44eb25jw8esjnbdi282j20u00u0n07.jpg" alt="" class="avatar">
                            <span class="author">小张</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}