
{% extends 'base/base_front.html' %}

{% block title %}
付费资讯
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-group" id="banner-group">
                <img src="https://www.bufanbiz.com/static/build/images/web-bufanshop-banner.jpg" alt="" class="banner-img">
            </div>
            <div class="pay-list-group">
                <ul class="pay-list">
                   {% for payinfo in payinfos %}
                   <li>
                        <a href="#">
                            <div class="pay-left img">
                            </div>
                            <div class="pay-right">
                                <p class="pay-title">{{ payinfo.title }}</p>
                                <p class="pay-content">{{ payinfo.profile }}</p>
                                <p class="pay-price">￥{{ payinfo.price }}</p>
                            </div>
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}