
{% extends 'base/base_front.html' %}

{% block title %}
付费资讯
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-group" id="banner-group">
                <img src="https://www.bufanbiz.com/static/build/images/web-bufanshop-banner.jpg" alt="" class="banner-img">
            </div>
            <div class="pay-list-group">
                <ul class="pay-list">
                    <li>
                        <a href="#">
                            <div class="pay-left">

                            </div>
                            <div class="pay-right">
                                <p class="pay-title">如何写好一份商业计划书</p>
                                <p class="pay-content">一份好的商业计划书，是创业成功的开始！</p>
                                <p class="pay-price">￥8.8</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pay-left img">
                            </div>
                            <div class="pay-right">
                                <p class="pay-title">如何写好一份商业计划书</p>
                                <p class="pay-content">一份好的商业计划书，是创业成功的开始！</p>
                                <p class="pay-price">￥8.8</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pay-left">
                            </div>
                            <div class="pay-right">
                                <p class="pay-title">如何写好一份商业计划书</p>
                                <p class="pay-content">一份好的商业计划书，是创业成功的开始！</p>
                                <p class="pay-price">￥8.8</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="pay-left">
                            </div>
                            <div class="pay-right">
                                <p class="pay-title">如何写好一份商业计划书</p>
                                <p class="pay-content">一份好的商业计划书，是创业成功的开始！</p>
                                <p class="pay-price">￥8.8</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}